body{
  margin:0;
  font-family: Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(45deg, #8ec5fc, #e0c3fc);
}

.box{
  background:white;
  padding:30px;
  border-radius:15px;
  width:300px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.box input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:10px;
}

.box button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#007bff;
  color:white;
  cursor:pointer;
}